		#body {
			background-color: white;
			margin: 0vw;
			padding: 0vw;
        }
        
        #divLogo {
			background-color: white;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
		}

		#imgLogo {
			height: 5vw;
			width: 5vw;
			margin-left: 6vw;
		}

		#headlineLogo {
			font-family: 'Abril Fatface', cursive;
			font-size: 2.6vw;
			color: #e83b52;
			margin-left: 1.5vw;
		}

		#paragLogo {
			font-family: 'Pattaya', sans-serif;
			font-size: 2vw;
			color: #4f4d4b;
			margin-left: 2vw;
        }
        
        #divLogIn, #divPersonalInfo, #divDailyRequirement, #divQuestion, #divFoodSelection {
            background-color: #3be8ba;
            color: #4f4d4b;
            text-align: center;
			font-family: 'Hind Siliguri', sans-serif;
            font-size: 1.3vw;
            border-radius: 6vw;
            width: 30vw;
            margin-top: 3vw;
            margin-bottom: 5vw;
			padding: 3vw 6vw 3vw 6vw;
            margin-left: auto;
            margin-right: auto;
        }

        #divPersonalInfo, #divDailyRequirement, #divQuestion, #divFoodSelection {
            display: none;
        }

        #formLogIn, #formPersonalInfo,#formDailyFood {
            font-weight: bold;
            font-size: 1.3vw;
        }

        .inputs {
            margin: 0.5vw 2vw 0vw 0.5vw;
            color: #4f4d4b;
            text-align: center;
			font-family: 'Hind Siliguri', sans-serif;
            font-size: 1.1vw;
            padding: 0.2vw;
            width: 18vw;
            border: none;
            border-radius: 2vw;
        }

        #selectPregnantLactating, #pregnantLactating {
            display: none;
        }
        
        .btns {
            background-color: #e83b52;
            color: white;
            font-family: 'Hind Siliguri', sans-serif;
            font-size: 1.5vw;
            font-weight: bold;
            padding: 0.5vw 2vw 0.5vw 2vw;
            border: none;
            border-radius: 2vw;
        }

        .btns:hover {
            color: #3be8ba;
        }

        #messageFillIn, #messageFillIn2 {
            font-style: italic;
        }

        #tableDailyRequirement {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            text-align: left;
        }

        .tableHeaders {
            text-align: center;
            font-size: 1.5vw;
            column-span: 2;
            padding: 1vw;
        }

        #divFoodSelection {
            background-color: #ede8e5;
            color: #4f4d4b;
            width: 80vw;
        }

        #pinkHeadline {
            color: #e83b52;
        }

    


